@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lark Street Boy<br />
    Lakewood,Ohio 44107<br />
    <abbr title="Phone">Phone:</abbr>
    425.555.0100
</address>